<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BEAirsV1">
	<listeners>
		<listener class-name="com.CtechInfoSys.BEAirs.Utilities.Reporting"/>
	</listeners>
	<test name="BEAirsIBEV1 Test">
<!-- 		<parameter name ="browser" value="firefox"/>  -->
		<parameter name ="browser" value="chrome"/> 
		<classes>
		<!--<class name="com.CtechInfoSys.BEAirs.TestCase.LoginPageTCs"/> -->
			<class name="com.CtechInfoSys.BEAirs.TestCase.NewCustomerTCs"/>
		</classes>
	</test>
</suite>